---
layout: page
title: CV
permalink: CV
---
{% for section in db.sections %}
{% if section.title=='Education' or section.title=='Computing Skills' or section.title=='Publications' or section.title=='Talks and Posters'%}
<h2>{{ section.title }}</h2>
<ul>
{% if section.cvitems %}
{% for item in section.cvitems %}
<li class="lead">{{ item.name }}: {{ item.value }}</li>
{% endfor %}
{% elif section.cvlistitems %}
{% for item in section.cvlistitems %}
<li class="lead">{ item }}</li>
{% endfor %}
{% else %}
{% for entry in section.entries %}
<li class="lead">{{ entry | html_section_sorter(section.title) }}</li>
{% endfor %}
{% endif %}
</ul>
{% endif %}
{% endfor %}
{% if pdf_link %}
<div class="lead text-center">
A complete version of my CV can be found <a href="{{ pdf_link }}">here</a>
</div>
{% endif %}
